@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&family=Saira:wght@100&display=swap');


* {
    list-style-type: none;
    font-family: 'Saira', sans-serif;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0c0e14;
  color: #d7de65;
}


.nav_container {
    height: 60px;
    
}
.nav_logo {
    width: 100px;
    height: 80px;
    position: absolute;
    color: aliceblue;
}

.nav_nav_buttons {
    display: flex;
    justify-content: space-around;
}


li{
    color: aliceblue;
}
.whatsapp_button {}  
 
a {
    
  color: #fff;
  padding: 12px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
}

a:visited 
{
    color: aliceblue;
    text-decoration: none; 
    decoration: none; 
}

a:hover {
color: yellow;
}

header {
    width: 45%;
    
    position: relative;
    top: 140px;


   

}


.header_container {
    width: 100%;
}

h1 {
    text-align: center;
    color: #d7de65;
}
.about_tags {
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

main{
    width: 45%;
    position: relative;
    top: 140px;

    left: 25px;

}

p {
    font-size: 1.85em;
    color: azure;
    text-align: center;
    
}

.answer_button{
    width: 150px;
height: 50px;
background-color: #d7de65;
border-radius: 50px;
position: fixed;
right: 100px;
box-shadow: 1px 1px 5px #515557, -1px -1px 21px rgb(163, 159, 159);

}

.answer_button a {
     color: azure;
     font-size: 0.8em;
     position: relative;
     top: 12px;
     left: 7px;
     
}

.answer_button a img {
    width: 17px;
    position: relative;
    top: 4px;
}


.video_section_container {
}
.video_section_content {
}
.video_section_video {
}